$first:#5E1675;
$second:#EEBD3B;
$third:white;
$fourth:black;
$text1:"Roboto";
$text2:cursive;
$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;
