@import "colors.scss";

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
  }

  
 #features .left-section, .right-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    border: 2px solid $first; // Add violet border here
  
    @media (min-width: 768px) {
      max-width: 45%;
    }
  }
  
  .left-section:hover, .right-section:hover {
    transform: scale(1.05);
  }
  
#features .card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#features .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
#features  .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: black;
  
    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  
 #features h1 {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
  
#features  button {
    background-color:$first;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color:$second;
    }
  }
  
 #features .para1 {
    color: black;
  }
  