#mentors .heading{
   display:flex;
   font-size: 50px;
   padding-inline: 2%;
   width:100%;
   margin-left: 5%;
   color: darkmagenta;

}
#mentors .card1{
  display:flex;
  padding: 0.5%;
  margin-left: 10%;
  margin-top: 5%;
  float: left;
}
#mentors .card2{
  display: grid;
  padding: 0.5%;
  margin-left: 10%;
  margin-top: 5%;
  float: left;
}
#mentors .card3{
   display: grid;
  padding: 0.5%;
  margin-left: 10%;
  margin-top: 5%;
  float: left;
  padding-bottom: 15%;

}
#mentors .card4{
   display: grid;
  padding: 0.5%;
  margin-left: 10%;
  margin-top: 5%;
  float: left;
  padding-bottom: 15%;
}