.heading{
    display:block;
    font-size: 50px;
    padding-inline: 2%;
    width:10%;
    margin-left: 5%;
    color: darkmagenta;

}
.card1{
   display:flex;
   padding: 0.5%;
   margin-left: 15%;
   margin-top: 5%;
   float: left;
}
.card2{
   display: grid;
   padding: 0.5%;
   margin-left: 15%;
   margin-top: 5%;
   float: left;
}
.card3{
    display: grid;
   padding: 0.5%;
   margin-left: 15%;
   margin-top: 5%;
   float: left;
   padding-bottom: 15%;
 
}
.card4{
    display: grid;
   padding: 0.5%;
   margin-left: 15%;
   margin-top: 5%;
   float: left;
   padding-bottom: 15%;
}